<!DOCTYPE html>

<html lang="en">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>
     <div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
        <br>
        <h3>This is poll in geography theme</h3>
        {% for i in question %}
        <h5>{{ i.question }}</h5>
        <p>{{ i.choice }}</p>
    <a href="{% url 'answer' i.id %}">Answer</a>
        <br><br>
        {% endfor %}
    </div>
    <div class="col">
    </div>
  </div>
</div>
  </body>
</html>